<h3>Los Colegios de Toledo</h3>
<hr>

<button class="btn btn-outline-primary m-3"
    (click)="agregarColegio()">
    Agregar colegio
</button>

<button class="btn btn-outline-danger "
    (click)="borrarColegio()">
    Borrar colegio
</button>


<ul *ngIf="colegios.length > 0">
    <li *ngFor="let colegio of colegios; let i = index">
        {{ i + 1}} ----- {{ colegio }}
    </li>
</ul>


    <div *ngIf="colegios.length === 0"
        class="alert alert-warning" role="alert">
        No hay colegios
    </div>






